@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8eaf6;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-illustration {
  height: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#image-div {
  padding: 25px 0;
}

#image2-div {
  padding: 25px 0;
}

@media screen and (min-width: 414px) {
  .landing-illustration, .aboutme-illustration {
       height: auto;
       width: 100%;
       object-fit: contain;
       /* display:block;
       margin:0 auto; */
  }
}

/* @media screen and (max-width: 1000px) {
  .landing-illustration {
       height: auto;
       width: 500px;
       object-fit: contain;
  }
} */

.landing-illustration, .aboutme-illustration {
  width: 100%;
}

/* #landing-text {
  padding: 0 0 25px 0;
} */

.nav-main-text {
  font-weight: bolder;
  font-size: 24px;
}

.nav-text {
  font-style: italic;
}

h2, h3, h4, h5 {
  font-family: 'Shrikhand', cursive;
  letter-spacing: 4px;
  /* padding: 20px 0 0 0; */
}

a {
  color: #000;
  font-style: italic; 
}

.about-link {
  text-decoration: underline;
  font-weight: bold;
}

.label-bold {
  font-weight: bold;
}

.about-text {
  margin: 0 0 20px 0;
}

.card-paragraph {
  margin: 0 0 5px 0;
}

.footer-icon {
  width: 25px;
  margin: 0 2px;
}